@charset 'UTF-8';

// 1. Configuration
@import
  //redefine variables
  'base/variables',
  // Import Boostrap Sass

  "node_modules/bootstrap/scss/bootstrap",
  "node_modules/mdbootstrap/scss/free/animations-basic",


  'base/global',
  'base/fonts';

// 2. Layout-related sections
@import
  'layout/nav',
  'layout/footer';

// 3. Components
@import
  'components/button';

// 4. Page-specific styles// 4. Page-specific styles
@import
  'pages/home',
  'pages/stockist',
  'pages/privacy',
  'pages/about',
  'pages/product',
  'pages/contact';

