// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Contact page.
// -----------------------------------------------------------------------------

.error{
    color:$danger;
}
