// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.bloc {
  height: 100px;
  background-color: $back-color;
  text-align: center;
  color:$text-color; }

.parallax {
  // Set a specific height 
  height: calc(100vh - 150px); /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 70);
  //Create the parallax scrolling effect 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-image: url("../img/woman-sm.jpg");
  @include media-breakpoint-up(md) { 
    background-image: url("../img/woman-md.jpg"); 
    background-attachment: fixed;
    height: calc(100vh - 150px);
  }
  @include media-breakpoint-up(lg) { background-image: url("../img/woman-lg.jpg"); }

}

//orange section at the bottom
.cta {
  padding-top: 1rem;
  padding-bottom: 1rem;
  .cta-inner {
    position: relative;
    padding: 1rem;
    margin: 0.5rem;
    background-color: fade-out($white, 0.15);
    &:before {
      border-radius: 0.5rem;
      content: '';
      position: absolute;
      top: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
      right: -0.5rem;
      border: 0.25rem solid fade-out($white, 0.15);
      z-index:-1;
    }
  }
    .socialicon{
      border-radius: 50%;
      background-color: $black;
      width:2rem;
      display:inline-block;
      padding:5px;
    }
  }
//white bloc overlapping img
.intro {
  position: relative;
  .intro-img {
      width: 100%;
    }
  .intro-text{
    background-color: rgba(255,255,255,.85);
    h3{font-weight: 400;}
    margin-bottom:1rem;
    z-index:1;
    
  }
  @include media-breakpoint-up(md) { 
    .intro-img {
      width: 60%;
    }
    .intro-text {
      width: 60%;
      margin-top: 1rem;
      right:0;
      position: absolute;
      .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .intro-text {
      width: 45%;
    }
  }
}

.homequote{
  position: absolute;
  top: 20%;
  right: 10%; 
  
  h1{
    display: inline-block;
    font-family: 'MondayBay',sans-serif;
    text-transform: capitalize;
    margin-bottom:-30px!important;
    font-size:4rem;
    color:#212529;
  }
  span{
    display: block;
    text-align: right;
    @include media-breakpoint-up(lg) {
    font-size:1.8rem!important;
    }
  }
  .heading-lower {
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    margin: -10px 0 10px;
    text-transform: lowercase;
    color:$primary;

  }
  .mark-start{
    font-size:6rem!important;
    position: absolute; 
    left: -13%;
    top: -15%;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    @include media-breakpoint-up(lg) {
      left: 10%;
    }
  }
  .mark-end{
    font-size:6rem!important;
    position: absolute; 
      left: 105%;
      top: 70%;
    }
    }
