// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Privacy page.
// -----------------------------------------------------------------------------

.privacy {
    color: white;
    p{
        font-weight:300;
    }
    ul li{
        margin-bottom:15px!important;
        font-size: 1.1rem!important;
        @include media-breakpoint-up(md) {
            font-size:0.9rem!important;
        }
    }
}