// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Privacy page.
// -----------------------------------------------------------------------------

.privacy {
    @extend %full-width;
    color: white;
    text-align: left; 
    padding-left: 15px;
    @include media-breakpoint-up(md) { width: 75%; padding-left: 50px;}
    ul {
        list-style: disc;
        margin-left: 15px;
        padding-right: 2px; }
    li {
    font-size: 1.1em;
    padding-right: 15px; }
    a {
    border-bottom: $brand-color solid 1px; }
}