// -----------------------------------------------------------------------------
// This file contains styles that are specific to the qrcode page.
// -----------------------------------------------------------------------------

.qrcode{ 
  .cta .socialicon{
    width:2.5rem!important;
  }

  a{
    font-size: 1.2rem ;

    &:hover, &:active {
      color: $primary!important;
      font-weight:bold!important;
    }
  }
}