// -----------------------------------------------------------------------------
// This file contains styles that are specific to the stockist page.
// -----------------------------------------------------------------------------
.map {
        position: relative; 
        padding-bottom: 150%; 
        height: 0; 
        overflow: hidden;
        max-width: 100vw;
        border-radius: .25rem!important;
        @include media-breakpoint-up(md) {
            padding-left: 15px;
            padding-bottom: 0;
            height:auto;
            position: initial;
    }
}
    
    iframe {
    @extend %full-width;
    
    border:none;
    position: absolute; 
    top:0; 
    left: 0;
    max-width:100%!important;
    width: 100%!important; 
    height: 100%;
    padding:15px!important;
    object-fit: cover;
    @include media-breakpoint-up(md) {
        position: initial; 
        height: auto;
        padding:0!important;
        min-height: 480px; 
    } 
}
#infobox{
background-color: black;
border-radius: .25rem !important;
bottom: 30px;
padding: 10px;
position: absolute;
left: 30px;
    h3{
        margin:0;
        padding:0;
    }
}