// -----------------------------------------------------------------------------
// This file contains Sass for the Footer element.
// -----------------------------------------------------------------------------

footer {
    font-size: 0.8em;
    padding-top: 10px;
    margin: 0 auto 10px;
    text-align: center;
    background-color: $back-color;
    color: white;
    width: 100%; 
    a {
    border-bottom: $brand-color solid 1px; }
    @media (min-width: 1024px) {
        font-size: 1em; } 
    @media (max-width: 768px) {
        border-top: white 1px solid; }

    }
    .footer-text li {
    font-size: 1em;
    margin-bottom: 15px; 
    @media (max-width: 768px) {
        font-size: 0.9em;}
    }