// -----------------------------------------------------------------------------
// This file contains all application-wide Sass extend.
// -----------------------------------------------------------------------------

// Full Width
%full-width{
    width: 100%;
    margin: auto;
    padding: 5px;
} 

