  
//Setup Clearfloat

  .clearfloat {
    font-size: 0;
    margin: 0;
    padding: 0;
    clear: both; 
    float: none;
    height: 0;
    width: 0;
    border: 0 none;
    line-height: 0; }

// Copy text color
// @type Color
$text-color: $white !default;

// Main brand color
// @type Color
$brand-color: $primary !default;

// Main background color
// @type Color
$back-color: $black !default;
//Set up basic style for main elements

body {
  line-height: 1.2;
  background-color: $back-color;
  width: 100%;
  font-family: 'Quicksand', sans-serif; }
  
main {
  width: 100%;
  min-height: 90vh; }


//Basic styles for links

a {
  color: $primary;
  text-decoration: none;
} 
a:hover{
    color:$white!important;
  }

//Basic styles for text
p {
font-size: 1.1rem; 
line-height: 1.2;
font-weight: 500;
@include media-breakpoint-up(md){
  font-size: 0.9rem; 
}
}


//Basic styles for titles

h1 {
font-size: 2em;
font-weight: 200;
margin-bottom:20px!important;
color: $back-color; 
@include media-breakpoint-up(md) { font-size: 2.2em;}
@include media-breakpoint-up(lg) { font-size: 2.4em;}
}

h2 {
font-family: 'MondayBay', sans-serif;
font-size: 3rem;
font-weight: 200;
color: $brand-color; 
@include media-breakpoint-up(md) { margin-bottom: 16px;}
@include media-breakpoint-up(lg) { margin-bottom: 23px;}
}

h3 {
  font-weight: 300;
  color: $brand-color;
  text-align: center;
  padding: 15px 0;
  font-size: 1.2rem; }

h4 {
  color: $brand-color;
  font-size: 1.2em; }


//Basic styles for list

ol, ul {
    line-height: 1.4;
    margin:0!important;
    li{
      font-size:1rem;
      @include media-breakpoint-up(md) {
        font-size: 0.9rem;}
    }
  }  

.inline {
  display: inline-block !important; }


// Basic Rows and blocs

.row {
  img {
    width: 100%;
    vertical-align: middle;
  }
}

.article-block {
  margin-bottom: 20px; 
  p {
    color: $text-color;}
}

.pic {
  background-image: url("../img/texture-sm.jpg");
  background-size: cover;
  padding: 60px 1rem 30px;
  text-align: center;
  // margin: 0 5px 5px;
  @include media-breakpoint-up(md) {
    background-image: url("../img/texture-md.jpg");   
    padding-top: 100px; 
    p{font-size: 1rem;}}
    @include media-breakpoint-up(lg) {
      background-image: url("../img/texture-lg.jpg");   
    }
  p{
    padding: 5px;
    font-size: 1.1rem;
  }
  a{
    color:$white;
  }
}

.cover{
  height: 100%;
  object-fit: cover;
}

//heading with bigger lower text
.section-heading {
  text-transform: uppercase;
  .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    color: $black;
  }
  .section-heading-lower {
    display: block;
    font-size: 2.5rem;
    font-weight: 100;
  }
}
.wow{
  visibility: hidden;
}

@media only screen and (max-width : 600px) {
	.no-animation {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
  }
}