
// Event wrapper

@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

// Border sizing
@mixin box-sizing($w:border-box) {
  -webkit-box-sizing: $w;
    -moz-box-sizing: $w;
      -ms-box-sizing: $w;
          box-sizing: $w;
}
