// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//redefine Bootstrap variable
$primary: #e6a756 !default;
$secondary: rgb(12, 12, 12) !default;

// Full Width
%full-width{
    width: 100%;
    margin: auto;
    padding: 5px;
} 

  // Clear inner floats
.clearfix::after {
    clear: both;
    content: '';
    display: table;
  }